@keyframes es-slow-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
#es-rc #es-rc-content {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  background-color: #8f3db2;
  max-width: 990px;
  margin: auto;
  overflow: hidden;
}
#es-rc #es-rc-content * {
  box-sizing: border-box;
}
#es-rc #es-rc-content p {
  margin: 0;
}
#es-rc #es-rc-content img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
#es-rc #es-rc-content .sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
#es-rc #es-rc-content .es-kv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-bottom: 1px solid gray;
}
#es-rc #es-rc-content .es-kv__logo {
  max-width: 90px;
  margin-bottom: 25px;
  position: absolute;
  left: 10px;
  top: 15px;
  margin-bottom: 25px;
}
#es-rc #es-rc-content .es-kv__middle-title {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
#es-rc #es-rc-content .es-kv__middle-subtitle {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
#es-rc #es-rc-content .es-kv__middle {
  position: absolute;
  left: 0px;
  bottom: 10px;
  z-index: 2;
  padding-left: 15px;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-kv {
    display: flex;
    flex-direction: row;
    position: relative;
  }
}
#es-rc #es-rc-content .es-footer {
  background: #641e87;
}
#es-rc #es-rc-content .es-footer__img {
  max-width: 225px;
}
#es-rc #es-rc-content .es-pro-formula {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid gray;
}
#es-rc #es-rc-content .es-pro-formula__title {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}
#es-rc #es-rc-content .es-pro-formula__title--black {
  font-weight: 900;
}
#es-rc #es-rc-content .es-pro-formula__right {
  margin-top: 30px;
  position: relative;
}
#es-rc #es-rc-content .es-pro-formula__ba-before-group {
  position: absolute;
  max-width: 120px;
  bottom: -38px;
  left: 5px;
}
#es-rc #es-rc-content .es-pro-formula__ba-after-group {
  position: absolute;
  max-width: 120px;
  top: -25px;
  right: 15px;
}
#es-rc #es-rc-content .es-pro-formula__ba-wrapper {
  position: relative;
}
#es-rc #es-rc-content .es-pro-formula__before-title {
  position: absolute;
  top: 40%;
  left: 51%;
  transform: translate(-50%, -50%);
  rotate: -6deg;
  text-transform: uppercase;
  color: #000000;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 38px;
}
#es-rc #es-rc-content .es-pro-formula__after-title {
  position: absolute;
  top: 44%;
  left: 51%;
  transform: translate(-50%, -50%);
  rotate: -6deg;
  text-transform: uppercase;
  color: #000000;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 38px;
}
#es-rc #es-rc-content .es-steps {
  padding-top: 48px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-bottom: 1px solid gray;
}
#es-rc #es-rc-content .es-steps__right-img-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
}
#es-rc #es-rc-content .es-steps__label {
  position: absolute;
  bottom: 0;
  right: -13px;
  max-width: 100px;
  bottom: -30px;
  right: -35px;
  max-width: 100px;
}
#es-rc #es-rc-content .es-steps__inner {
  display: flex;
  gap: 30px;
}
#es-rc #es-rc-content .es-steps__text-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
#es-rc #es-rc-content .es-steps__text-item-img {
  width: 20px;
}
#es-rc #es-rc-content .es-steps__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 35%;
  min-width: 300px;
}
#es-rc #es-rc-content .es-steps__title {
  justify-content: center;
  margin-top: 20px;
}
@media (min-width: 450px) {
  #es-rc #es-rc-content .es-steps__title {
    flex-direction: row;
    align-items: baseline;
    gap: 16px;
  }
}
#es-rc #es-rc-content .es-steps__flexCtn {
  display: flex;
  justify-content: center;
  row-gap: 35px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
#es-rc #es-rc-content .es-steps__flexItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
  row-gap: 10px;
  max-width: 190px;
  position: relative;
}
#es-rc #es-rc-content .es-steps__right {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
#es-rc #es-rc-content .es-steps__text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  margin: 0 auto;
  gap: 10px;
}
#es-rc #es-rc-content .es-steps__text-img {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 200px;
}
#es-rc #es-rc-content .es-steps__title {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}
#es-rc #es-rc-content .es-steps__subtitle {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  margin-bottom: 10px;
}
#es-rc #es-rc-content .es-colors {
  position: relative;
  z-index: 2;
}
#es-rc #es-rc-content .es-colors--1 {
  border-bottom: 1px solid gray;
}
#es-rc #es-rc-content .es-colors .swiper-wrapper {
  position: relative;
}
#es-rc #es-rc-content .es-colors #es-button-prev {
  position: absolute;
  left: 0px;
  top: 60%;
}
#es-rc #es-rc-content .es-colors #es-button-next {
  position: absolute;
  right: 0px;
  top: 60%;
}
#es-rc #es-rc-content .es-colors__title {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}
#es-rc #es-rc-content .es-colors__slide-title {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 25px;
}
#es-rc #es-rc-content .es-colors__slide-title--red {
  color: #e93453;
}
#es-rc #es-rc-content .es-colors__slide-title--pink {
  color: #ffc4cf;
}
#es-rc #es-rc-content .es-colors__slide-item {
  max-width: 300px;
  position: relative;
}
#es-rc #es-rc-content .es-colors__slide-item-title {
  position: absolute;
  top: 62px;
  left: 50%;
  transform: translate(-38%, -25px);
  text-align: center;
  width: 200px;
  color: #000000;
  font-weight: 700;
}
#es-rc #es-rc-content .es-colors__slide-item-title--1 {
  top: 77px;
  left: 43%;
  transform: translate(-38%, -25px);
}
#es-rc #es-rc-content .es-colors__slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#es-rc #es-rc-content .es-colors .swiper-slide {
  height: auto;
}
#es-rc #es-rc-content .es-colors .swiper-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
#es-rc #es-rc-content .es-colors .swiper-button-prev,
#es-rc #es-rc-content .es-colors .swiper-button-next {
  cursor: pointer;
  color: #ffffff;
  position: unset;
  margin: unset;
}
#es-rc #es-rc-content .es-colors .swiper-button-prev:after,
#es-rc #es-rc-content .es-colors .swiper-rtl .swiper-button-next:after,
#es-rc #es-rc-content .es-colors .swiper-button-next:after,
#es-rc #es-rc-content .es-colors .swiper-rtl .swiper-button-prev:after {
  font-size: 20px;
  font-weight: 900;
}
#es-rc #es-rc-content .es-colors .swiper-pagination {
  flex: 1;
  display: flex;
  justify-content: center;
  position: unset;
}
#es-rc #es-rc-content .es-colors .swiper-pagination-bullet-active {
  background: #ffffff;
}
@media (max-width: 755px) {
  #es-rc #es-rc-content .es-colors #esColorsSwiper .swiper-wrapper {
    display: block !important;
    transform: none !important;
    width: 100% !important;
    position: relative;
  }
  #es-rc #es-rc-content .es-colors #esColorsSwiper .swiper-slide {
    width: 100% !important;
    margin-bottom: 2rem;
    display: block;
  }
  #es-rc #es-rc-content .es-colors .swiper-controls {
    display: none;
  }
}
#es-rc #es-rc-content .es-colors .swiper-wrapper.swiper-no-swiping {
  display: block;
}
#es-rc #es-rc-content .es-colors .swiper-wrapper.swiper-no-swiping > .swiper-slide {
  width: 100% !important;
  margin-bottom: 2rem;
}
#es-rc #es-rc-content .es-colors__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px 10px;
}
#es-rc #es-rc-content .es-colors__single-img {
  max-width: 95px;
  height: 166px;
}
#es-rc #es-rc-content .es-colors__single-img--2 {
  max-width: 165px;
}
#es-rc #es-rc-content .es-colors__single--2 {
  position: relative;
}
#es-rc #es-rc-content .es-gama {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-top: 30px;
  padding-bottom: 40px;
  z-index: 2;
  position: relative;
}
#es-rc #es-rc-content .es-gama__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  padding: 5px;
}
#es-rc #es-rc-content .es-gama__item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
  padding: 5px;
  position: absolute;
  top: -25px;
  left: 25px;
}
#es-rc #es-rc-content .es-gama__inner {
  position: relative;
}
#es-rc #es-rc-content .es-gama__subtitle {
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding-left: 5px;
  color: #ffffff;
  font-size: 14px;
}
#es-rc #es-rc-content .es-gama__text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  text-transform: uppercase;
  width: 150px;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  rotate: -6deg;
}
#es-rc #es-rc-content .es-gama__text-label {
  width: 105px;
}
#es-rc #es-rc-content .es-gama__text-label--4 {
  width: 110px;
}
#es-rc #es-rc-content .es-gama__title {
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
#es-rc #es-rc-content .es-gama__title--bold {
  font-weight: 900;
}
#es-rc #es-rc-content .es-gama__title-img {
  display: inline-block;
  width: 70px;
  margin-left: 5px;
  margin-top: 3px;
  margin-right: 0;
}
#es-rc #es-rc-content .es-video {
  padding: 32px;
  position: relative;
  border-bottom: 1px solid gray;
}
#es-rc #es-rc-content .es-video__label {
  display: none;
}
#es-rc #es-rc-content .es-video__video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
#es-rc #es-rc-content .es-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  aspect-ratio: 1/1;
  border: 2px solid #ffffff;
  padding: 24px;
  border-radius: 99px;
  width: 80px;
  height: 80px;
  opacity: 70%;
  cursor: pointer;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
}
#es-rc #es-rc-content .es-video__play.es-is-visible {
  display: flex;
}
#es-rc #es-rc-content .es-video__play-icon {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 20px;
  margin-left: 6px;
  border-color: transparent transparent transparent #ffffff;
}
#es-rc #es-rc-content .es-video__play-icon.es-is-pause {
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#es-rc #es-rc-content .es-video__play-icon.es-is-pause::before, #es-rc #es-rc-content .es-video__play-icon.es-is-pause::after {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: #ffffff;
}
@media (min-width: 768px) {
  #es-rc #es-rc-content .es-video {
    display: flex;
    justify-content: center;
    padding: 100px;
    padding-top: 156px;
  }
  #es-rc #es-rc-content .es-video__video {
    max-width: 80%;
  }
}
@media screen and (min-width: 450px) {
  #es-rc #es-rc-content .es-kv__middle {
    bottom: 25px;
  }
  #es-rc #es-rc-content .es-kv__middle-title {
    font-size: 24px;
  }
  #es-rc #es-rc-content .es-kv__middle-subtitle {
    font-size: 16px;
  }
  #es-rc #es-rc-content .es-pro-formula__title {
    font-size: 30px;
  }
  #es-rc #es-rc-content .es-pro-formula__ba-after-group {
    top: -30px;
    right: 15px;
  }
  #es-rc #es-rc-content .es-pro-formula__ba-before-group {
    left: 14px;
    bottom: -35px;
  }
}
@media screen and (min-width: 600px) {
  #es-rc #es-rc-content .es-kv__middle {
    bottom: 25px;
  }
  #es-rc #es-rc-content .es-kv__middle-title {
    font-size: 32px;
  }
  #es-rc #es-rc-content .es-kv__middle-subtitle {
    font-size: 20px;
  }
  #es-rc #es-rc-content .es-kv__logo {
    top: 30px;
    left: 30px;
    max-width: 175px;
  }
  #es-rc #es-rc-content .es-steps__right-img-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    top: auto;
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  #es-rc #es-rc-content .es-kv__logo {
    position: absolute;
    top: 50px;
    left: 50px;
    max-width: 200px;
  }
  #es-rc #es-rc-content .es-kv__middle-title {
    font-size: 38px;
  }
  #es-rc #es-rc-content .es-kv__middle-subtitle {
    font-size: 25px;
  }
  #es-rc #es-rc-content .es-pro-formula {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
  #es-rc #es-rc-content .es-pro-formula__title {
    font-size: 60px;
  }
  #es-rc #es-rc-content .es-colors__title,
  #es-rc #es-rc-content .es-gama__title {
    font-size: 40px;
  }
  #es-rc #es-rc-content .es-gama__wrapper {
    margin-bottom: 65px;
  }
  #es-rc #es-rc-content .es-gama__title-img {
    width: 90px;
    margin-left: 9px;
    margin-top: 6px;
  }
  #es-rc #es-rc-content .es-steps {
    flex-direction: row;
    padding-bottom: 50px;
    position: relative;
  }
  #es-rc #es-rc-content .es-steps__left {
    padding-left: 15px;
  }
  #es-rc #es-rc-content .es-steps__right-img-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 378px;
  }
  #es-rc #es-rc-content .es-steps__flexCtn {
    padding-bottom: 0;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  #es-rc #es-rc-content .es-steps__label {
    position: absolute;
    bottom: -29px;
    right: -13px;
    max-width: 100px;
  }
  #es-rc #es-rc-content .es-steps__flexItem {
    max-width: 225px;
  }
  #es-rc #es-rc-content .es-steps__inner {
    padding-left: 80px;
  }
  #es-rc #es-rc-content .es-colors #es-button-prev {
    top: 50%;
  }
  #es-rc #es-rc-content .es-colors #es-button-next {
    top: 50%;
  }
  #es-rc #es-rc-content .es-colors__container {
    padding-bottom: 50px;
  }
  #es-rc #es-rc-content .es-colors__slide-container {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
  }
  #es-rc #es-rc-content .es-colors__slide-item-title {
    top: 47px;
    left: 46%;
  }
  #es-rc #es-rc-content .es-colors__slide-item-title--1 {
    top: 47px;
    left: 38%;
  }
  #es-rc #es-rc-content .es-colors__title p {
    font-size: 55px;
  }
  #es-rc #es-rc-content .es-video__label {
    display: block;
    position: absolute;
    top: 115px;
    right: 91px;
    width: 175px;
  }
}
@media screen and (min-width: 998px) {
  #es-rc #es-rc-content .es-kv__middle {
    padding-left: 15px;
    padding-right: 15px;
  }
  #es-rc #es-rc-content .es-kv__middle {
    bottom: 65px;
  }
  #es-rc #es-rc-content .es-kv__middle-title {
    font-size: 53px;
  }
  #es-rc #es-rc-content .es-kv__middle-subtitle {
    font-size: 30px;
  }
  #es-rc #es-rc-content .es-pro-formula__ba-before-group {
    left: 17px;
    bottom: -30px;
  }
  #es-rc #es-rc-content .es-pro-formula__ba-after-group {
    top: -30px;
    right: 25px;
  }
  #es-rc #es-rc-content .es-steps {
    flex-direction: row;
  }
  #es-rc #es-rc-content .es-steps__title {
    font-size: 37px;
  }
  #es-rc #es-rc-content .es-steps__label {
    bottom: 0;
    right: -13px;
    max-width: 100px;
  }
  #es-rc #es-rc-content .es-steps__subtitle {
    margin-bottom: 35px;
  }
  #es-rc #es-rc-content .es-steps__right {
    padding-left: 88px;
    margin-top: -45px;
    margin-left: -11px;
  }
  #es-rc #es-rc-content .es-steps__inner-img {
    margin-top: 12px;
    margin-left: 16px;
    width: 138%;
  }
  #es-rc #es-rc-content .es-steps__text-img {
    padding-top: 46px;
    max-width: 258px;
    margin-left: 22px;
  }
  #es-rc #es-rc-content .es-colors__slide-item-title {
    top: 53px;
    left: 48%;
  }
  #es-rc #es-rc-content .es-colors__slide-item-title--1 {
    top: 54px;
    left: 40%;
  }
  #es-rc #es-rc-content .es-colors__slide-title {
    font-size: 45px;
  }
  #es-rc #es-rc-content .es-colors__title {
    font-size: 50px;
  }
  #es-rc #es-rc-content .es-gama__item-wrapper {
    top: -25px;
    left: 50px;
  }
  #es-rc #es-rc-content .es-gama__title {
    font-size: 60px;
  }
  #es-rc #es-rc-content .es-gama .es-gama__title-img {
    width: 140px;
    margin-left: 9px;
    margin-top: 6px;
  }
}/*# sourceMappingURL=styles.css.map */