@charset "UTF-8";

// set up variables

$text-main: "Montserrat", sans-serif;
$text-secondary: "Barlow Condensed", sans-serif;

$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

$fs-base: 16px;
$fs-header: 48px;
$fs-header-md: 60px;
$fs-header-lg: 72px;

$px-XS: 4px;
$px-S: 8px;
$px-M: 16px;
$px-L: 24px;
$px-XL: 32px;
$px-XXL: 48px;

$color-main: #ffffff;
$color-bg: #8f3db2;
$color-accent: #00c380;
$color-accent-2: #eb2524;
$color-accent-3: #fdcf49;
$color-black: #000000;

$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 880px;
$media-breakpoint-xl: 992px;

$transition: all 200ms ease-in-out;

@-webkit-keyframes es-slow-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.9;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes es-slow-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0.9;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

#es-rc #es-rc-content {
  font-family: $text-main;
  font-size: $fs-base;
  font-weight: $fw-regular;
  line-height: 1.2;
  color: $color-main;
  background-color: $color-bg;
  max-width: 990px;
  margin: auto;
  overflow: hidden;

  // minimal css reset

  * {
    box-sizing: border-box;
  }

  p {
    margin: 0;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }


  .sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .es-kv {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid gray;

    &__logo {
      max-width: 90px;
      margin-bottom: 25px;
      position: absolute;
      left: 10px;
      top: 15px;
      margin-bottom: 25px;
    }








    &__middle-title {
      text-transform: uppercase;
      font-family: $text-secondary;
      font-weight: $fw-bold;
      font-size: 16px;
      text-align: center;
    }

    &__middle-subtitle {
      text-transform: uppercase;
      font-family: $text-secondary;
      font-weight: $fw-semi-bold;
      font-size: 12px;
      text-align: center;
    }

    &__middle {
      position: absolute;
      left: 0px;
      bottom: 10px;

      z-index: 2;
      padding-left: 15px;
    }


    @media (min-width: $media-breakpoint-md) {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      position: relative;

    }
  }

  .es-footer {
    background: #641e87;

    &__img {
      max-width: 225px;
    }
  }

  .es-pro-formula {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;

    &__title {
      text-transform: uppercase;
      font-family: $text-secondary;
      font-weight: $fw-bold;
      font-size: 30px;
      margin-bottom: 10px;
      text-align: center;

      &--black {
        font-weight: $fw-black;
      }
    }

    &__right {
      margin-top: 30px;
      position: relative;
    }

    &__ba-before-group {
      position: absolute;
      max-width: 120px;
      bottom: -38px;
      left: 5px;
    }

    &__ba-after-group {
      position: absolute;
      max-width: 120px;
      top: -25px;
      right: 15px;
    }

    &__ba-wrapper {
      position: relative;
    }

    &__before-title {
      position: absolute;
      top: 40%;
      left: 51%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      rotate: -6deg;
      text-transform: uppercase;
      color: #000000;
      font-family: $text-secondary;
      font-weight: 700;
      font-size: 38px;
    }

    &__after-title {
      position: absolute;
      top: 44%;
      left: 51%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      rotate: -6deg;
      text-transform: uppercase;
      color: #000000;
      font-family: $text-secondary;
      font-weight: 700;
      font-size: 38px;
    }
  }


  .es-steps {
    padding-top: $px-XXL;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid gray;

    &__right-img-wrapper {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100px;
    }

    &__label {
      position: absolute;
      bottom: 0;
      right: -13px;
      max-width: 100px;
    }

    &__inner {
      display: -webkit-box;
      display: flex;
      gap: 30px;
    }

    &__text-item {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: start;
      justify-content: flex-start;
      gap: 10px;
    }

    &__text-item-img {
      width: 20px;
    }




    &__left {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      max-width: 35%;
      min-width: 300px;
    }

    &__title {
      -webkit-box-pack: center;
      justify-content: center;
      margin-top: 20px;

      @media (min-width: 450px) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-align: baseline;
        align-items: baseline;
        gap: $px-M;
      }
    }


    &__flexCtn {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      row-gap: 35px;
      flex-wrap: wrap;
      padding-bottom: 40px;
    }

    &__flexItem {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      gap: $px-M;
      row-gap: 10px;
      max-width: 190px;
      position: relative;
    }



    &__right {
      position: relative;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      z-index: 2;
    }


    &__text-group {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-align: start;
      align-items: flex-start;
      margin: 0 auto;
      gap: 10px;
    }

    &__text-img {
      padding-top: 20px;
      padding-bottom: 20px;
      max-width: 200px;
    }

  }


  .es-steps {
    &__title {
      text-transform: uppercase;
      font-family: $text-secondary;
      font-weight: $fw-black;
      font-size: 30px;
      text-align: center;
      margin-bottom: 10px;
    }

    &__subtitle {
      text-transform: uppercase;
      font-family: $text-secondary;
      font-weight: $fw-bold;
      font-size: 24px;
      line-height: 1;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .es-colors {
    position: relative;
    z-index: 2;

    &--1 {
      border-bottom: 1px solid gray;
    }

    .swiper-wrapper {
      position: relative;
    }

    #es-button-prev {
      position: absolute;
      left: 0px;
      top: 60%;
    }

    #es-button-next {
      position: absolute;
      right: 0px;
      top: 60%;
    }


    &__title {
      text-transform: uppercase;
      font-family: $text-secondary;
      font-weight: $fw-bold;
      font-size: 30px;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 40px;
    }

    &__slide-title {
      text-transform: uppercase;
      font-family: $text-secondary;
      font-weight: $fw-black;
      font-size: 30px;
      text-align: center;
      padding-top: 50px;
      margin-bottom: 25px;

      &--red {
        color: #e93453;
      }

      &--pink {
        color: #ffc4cf;
      }
    }

    &__slide-item {
      max-width: 300px;
      position: relative;
    }

    &__slide-item-title {
      position: absolute;
      top: 62px;
      left: 50%;
      -webkit-transform: translate(-38%, -25px);
      transform: translate(-38%, -25px);
      text-align: center;
      width: 200px;
      color: $color-black;
      font-weight: $fw-bold;

      &--1 {
        top: 77px;
        left: 43%;
        -webkit-transform: translate(-38%, -25px);
        transform: translate(-38%, -25px);
      }
    }

    &__slide-container {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: center;
      align-items: center;
    }

    //swiper styles


    .swiper-slide {
      height: auto;
    }

    .swiper-controls {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      margin: auto;
      position: absolute;
      bottom: 30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 5;
    }

    .swiper-button-prev,
    .swiper-button-next {
      cursor: pointer;
      color: $color-main;
      position: unset;
      margin: unset;
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
      font-size: 20px;
      font-weight: 900;
    }

    .swiper-pagination {
      -webkit-box-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      position: unset;
    }

    .swiper-pagination-bullet-active {
      background: $color-main;
    }

    // hide swiper controls on mobile
    @media (max-width: 755px) {
      #esColorsSwiper .swiper-wrapper {
        display: block !important;
        -webkit-transform: none !important;
        transform: none !important;
        width: 100% !important;
        position: relative;
      }

      #esColorsSwiper .swiper-slide {
        width: 100% !important;
        margin-bottom: 2rem;
        display: block;
      }

      .swiper-controls {
        display: none;
      }
    }

    .swiper-wrapper.swiper-no-swiping {
      display: block;
    }

    .swiper-wrapper.swiper-no-swiping>.swiper-slide {
      width: 100% !important;
      margin-bottom: 2rem;
    }





    &__container {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      justify-content: center;
      gap: 25px 10px;
    }

    &__single-img {
      max-width: 95px;
      height: 166px;

      &--2 {
        max-width: 165px;
      }
    }

    &__single--2 {

      position: relative;


    }

  }

  .es-gama {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top: 30px;
    padding-bottom: 40px;
    z-index: 2;
    position: relative;


    &__wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      margin-bottom: 25px;
      padding: 5px;
    }

    &__item-wrapper {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      margin-bottom: 25px;
      padding: 5px;
      position: absolute;
      top: -25px;
      left: 25px;
    }

    &__inner {
      position: relative;
    }

    &__subtitle {
      font-style: italic;
      font-family: $text-main;
      font-weight: $fw-regular;
      padding-left: 5px;
      color: #ffffff;
      font-size: 14px;
    }

    &__text {
      position: absolute;
      top: 30%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: $color-black;
      text-transform: uppercase;
      width: 150px;
      text-align: center;
      font-family: $text-secondary;
      font-size: 18px;
      font-weight: $fw-bold;
      rotate: -6deg;
    }

    &__text-label {
      width: 105px;


      &--4 {
        width: 110px;
      }
    }

    &__title {
      text-transform: uppercase;
      font-family: $text-secondary;
      font-weight: $fw-bold;
      font-size: 30px;
      text-align: center;

      &--bold {
        font-weight: $fw-black;
      }

    }

    &__title-img {
      display: inline-block;
      width: 70px;
      margin-left: 5px;
      margin-top: 3px;
      margin-right: 0;
    }
  }

  .es-video {
    padding: $px-XL;
    position: relative;
    border-bottom: 1px solid gray;

    &__label {
      display: none;
    }


    &__video {
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }

    &__play {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: $color-black;
      aspect-ratio: 1 / 1;
      border: 2px solid $color-main;
      padding: $px-L;
      border-radius: 99px;
      width: 80px;
      height: 80px;
      opacity: 70%;
      cursor: pointer;
      z-index: 2;
      display: none;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;

      &.es-is-visible {
        display: -webkit-box;
        display: flex;
      }

      &-icon {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 12px 0 12px 20px;
        margin-left: 6px;
        border-color: transparent transparent transparent $color-main;

        &.es-is-pause {
          width: 16px;
          height: 16px;
          border: none;
          margin: 0;
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          align-items: center;

          &::before,
          &::after {
            content: "";
            display: block;
            width: 4px;
            height: 20px;
            background: $color-main;
          }
        }
      }
    }

    @media (min-width: $media-breakpoint-md) {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      padding: 100px;
      padding-top: 156px;


      &__video {
        max-width: 80%;
      }
    }
  }

  @media screen and (min-width: 450px) {
    .es-kv {

      &__middle {
        bottom: 25px;
      }

      &__middle-title {
        font-size: 24px;
      }

      &__middle-subtitle {
        font-size: 16px;
      }
    }


    .es-pro-formula {

      &__title {
        font-size: 30px;
      }

      &__ba-after-group {
        top: -30px;
        right: 15px;
      }

      &__ba-before-group {
        left: 14px;
        bottom: -35px;
      }
    }
  }


  @media screen and (min-width: 600px) {
    .es-kv {
      &__middle {
        bottom: 25px;
      }

      &__middle-title {
        font-size: 32px;
      }

      &__middle-subtitle {
        font-size: 20px;
      }

      &__logo {
        top: 30px;
        left: 30px;
        max-width: 175px;
      }
    }

    .es-steps {
      &__right-img-wrapper {
        position: absolute;
        right: 0;
        bottom: 0;
        top: auto;
        width: 250px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .es-kv {
      &__logo {
        position: absolute;
        top: 50px;
        left: 50px;
        max-width: 200px;
      }

      &__middle-title {
        font-size: 38px;
      }

      &__middle-subtitle {
        font-size: 25px;
      }
    }

    .es-pro-formula {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 50px;
      padding-bottom: 50px;
      -webkit-column-gap: 10px;
      -moz-column-gap: 10px;
      column-gap: 10px;

      &__title {
        font-size: 60px;
      }
    }

    .es-colors__title,
    .es-gama__title {
      font-size: 40px;
    }

    .es-gama__wrapper {
      margin-bottom: 65px;
    }

    .es-gama__title-img {
      width: 90px;
      margin-left: 9px;
      margin-top: 6px;
    }


    .es-steps {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      padding-bottom: 50px;
      position: relative;

      &__left {
        padding-left: 15px;
      }

      &__right-img-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 378px;
      }

      &__flexCtn {
        padding-bottom: 0;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
      }

      &__flexItem {
        max-width: 225px;
      }




      &__inner {
        padding-left: 80px;
      }
    }

    .es-colors {

      #es-button-prev {

        top: 50%;
      }

      #es-button-next {

        top: 50%;
      }

      &__container {
        padding-bottom: 50px;
      }

      &__slide-container {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        padding-bottom: 50px;

      }

      &__slide-item-title {
        top: 47px;
        left: 46%;

        &--1 {
          top: 47px;
          left: 38%;
        }
      }

      &__title p {
        font-size: 55px;
      }
    }


    .es-video {
      &__label {
        display: block;
        position: absolute;
        top: 115px;
        right: 91px;
        width: 175px;
      }
    }
  }

  @media screen and (min-width: 998px) {
    .es-kv {




      &__middle {
        padding-left: 15px;
        padding-right: 15px;
      }


      &__middle {
        bottom: 65px;
      }

      &__middle-title {
        font-size: 53px;
      }

      &__middle-subtitle {
        font-size: 30px;
      }

    }

    .es-pro-formula {
      &__ba-before-group {
        left: 17px;
        bottom: -30px;
      }

      &__ba-after-group {
        top: -30px;
        right: 25px;
      }
    }



    .es-steps {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;

      &__title {
        font-size: 37px;
      }

      &__subtitle {
        margin-bottom: 35px;
      }

      &__right {
        padding-left: 88px;
        margin-top: -45px;
        margin-left: -11px;
      }

      &__inner-img {
        margin-top: 12px;
        margin-left: 16px;
        width: 138%;
      }

      &__text-img {
        padding-top: 46px;
        max-width: 258px;
        margin-left: 22px;
      }

    }

    .es-colors {
      &__slide-item-title {
        top: 53px;
        left: 48%;

        &--1 {
          top: 54px;
          left: 40%;
        }
      }

      &__slide-title {
        font-size: 45px;
      }
    }

    .es-colors__title {
      font-size: 50px;
    }

    .es-gama {
      &__item-wrapper {
        top: -25px;
        left: 50px;
      }

      &__title {
        font-size: 60px;
      }

      .es-gama__title-img {
        width: 140px;
        margin-left: 9px;
        margin-top: 6px;
      }
    }
  }
}